{% extends "template.html" %}
{% block content %}

	<div class="container">
		<center><h1>This is the music page</h1></center>
	
	</div>
	
	<h4>Interesting Thing</h4><br>
	<audio controls>
		<source src="../static/Music/Interesting Thing.m4a" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>Mesconcherto</h4><br>
	<audio controls>
		<source src="../static/Music/mesconcherto.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>Herbie Mescon</h4><br>
	<audio controls>
		<source src="../static/Music/Herbie Mescon.m4a" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>Jazzface</h4><br>
	<audio controls>
		<source src="../static/Music/jazzface.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	-->

	
{% end block %}