{% extends "template.html" %}
{% block content %}
	<div class="container">
		<center><h1>These are some of my originals.</h1></center>
	<ul class="pagination">
  <li><a href="http://mescon.herokuapp.com/Music/Synth/">Keyboard/Synth</a></li>
  <li><a href="http://mescon.herokuapp.com/Music/Piano/">Piano</a></li>
  <li><a class="active" href="http://mescon.herokuapp.com/Music/Guitar/">Guitar</a></li>
	</ul>
	</div>
	
	<h2>Guitar</h2>    <br>
	 <br>
	<audio controls>
		<source src="../static/Music/Closer To You.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>Closer To You</h4> <br>
	
	<audio controls>
		<source src="../static/Music/Precious.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>Precious</h4> <br>
	
	<audio controls>
		<source src="../static/Music/Girl I Knew.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>Girl I Knew</h4><br>
	
	<audio controls>
		<source src="../static/Music/I Got Low on LSG Mixer.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>I Got Low On LSG</h4><br>
{% end block %}