{% extends "template.html" %}
{% block content %}

	<div class="container">
		<center><h1>These are some of my originals.</h1></center>
	<ul class="pagination">
  <li><a class="active" href="http://mescon.herokuapp.com/Music/Synth/">Keyboard/Synth</a></li>
  <li><a href="http://mescon.herokuapp.com/Music/Piano/">Piano</a></li>
  <li><a href="http://mescon.herokuapp.com/Music/Guitar/">Guitar</a></li>
	</ul>
	</div>
	
	<h2>Keyboard/Synth</h2>    <br>
	<br>
	<audio controls>
		<source src="../static/Music/Interesting Thing.m4a" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>Interesting Thing</h4> <br>
	
	<audio controls>
		<source src="../static/Music/Mesconcherto.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>Mesconcherto</h4> <br>
	
	<audio controls>
		<source src="../static/Music/Herbie Mescon.m4a" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>Jazzface</h4><br>
	<audio controls>
		<source src="../static/Music/jazzface.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<h4>Herbie Mescon</h4><br>


	
{% end block %}