{% extends "template.html" %}
{% block content %}


	<div class="container">
		<center><h1>These are some of my originals.</h1></center>
	<ul class="pagination">
	<li><a href="http://mescon.herokuapp.com/Music/Synth/">Keyboard/Synth</a></li>
	<li><a class="active" href="http://mescon.herokuapp.com/Music/Piano/">Piano</a></li>
	<li><a href="http://mescon.herokuapp.com/Music/Guitar/">Guitar</a></li>
	</ul>
	</div>
	
	
	<h2>Piano</h2>    <br>
	<br>
	<audio controls>
		<source src="{{ static_url('Music/All Together Better Apart.m4a') }}" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>All Together Better Apart</h4> <br>
	
	<audio controls>
		<source src="../static/Music/Piano Rocks M.m4a" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>Piano Rocks!</h4> <br>
	
	<!--
	<audio controls>
		<source src="../static/Music/Herbie Mescon.m4a" type="audio/mp4">
		Your browser does not support the audio element.
	</audio>
	<h4>Coming Soon: White Pickett Self Defense</h4><br>
-->
	
{% end block %}